@model IEnumerable<CookingSite.Models.Term>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*The following script handles input from the text field*@
<script>

    $(function () {
        var $inputText = $('#inputText')

        $('#sendFile').on('click', function () {
            alert('creating object')
            var postFile = {
                userInput: $inputText.val(),
            };
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetKey")",
                data: JSON.stringify(postFile),
                contentType: "application/json; charset=utf-8",
                success: function (data) { alert(data); window.location.reload(); },
                error: function () {
                    alert("error saving input");
                }
            });
        });
    });
</script>
<<<<<<< HEAD
@*This script sets the favoites(move)*@
@*<script>
    var userInput1 = " ";
    var aspId;

        function AssignButtonClicked(elem) {
            userInput1 = $(elem).data('assigned-id');
            aspId = "@HttpContext.Current.User.Identity.GetUserId()";
=======
>>>>>>> 7ce4d44f9ecff55bd728a71885d3ba9cfb68a14e


<body>

    @*Recipe Entry Field*@
    <textarea id="inputText" class='autoExpand' rows='3' data-min-rows='3' title='Paste Recipe Here' placeholder="Paste Recipe Here"></textarea>

    @*FIND TERMS Button*@
    <div class="container">
        <a id="sendFile" class="waves-effect waves-light btn btn-large"><i class="material-icons right">search</i>FIND TERMS</a>
    </div>
    @Html.Partial("View");

   

</body>
@*<div class="container">
        <div class="col-md-4">
            <h1>Upload Recipe</h1>
            <input type="text" id="inputText" />
            <button id="sendFile">Check Your Recipe</button>
        </div>
    </div>
    <div class="col-md-4" id="UploadedFile">

<<<<<<< HEAD
</script>
@*This script hides the favorit button(move)*@
@*<script>
    var aspName = "@HttpContext.Current.User.Identity.GetUserName()";
    alert(aspName)

    $(function () {
        alert("in funct")
        if (aspName != "") {
            alert("in if")
            $('.SetFav').show()
        } else {
            $('.SetFav').hide()
        }
    });
</script>*@


        @*Recipe Entry Field*@
        <textarea id="inputText" class='autoExpand' input type="text" rows='3' data-min-rows='3' title='Paste Recipe Here' placeholder="Paste Recipe Here"></textarea>
        @*FIND TERMS Button*@
        <div class="container">
            <button id="sendFile" class="btn draw-border">FIND TERMS</button>
        </div>
   @Html.Partial("View")
@*<div class="col-md-4" id="UploadedFile">
    
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TermName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermDef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermVideo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMatch)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsMatch.Equals(true))
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TermDef )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermInfo )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermVideo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermPicture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermName)
                </td>
                <td>
                    <div class="SetFav">
                        <input class="SetFavBtn" type="button" value="Assign" onclick="AssignButtonClicked(this)" data-assigned-id="@item.TermID" />
                    </div>

                </td>
                <td>
                    
                    @Html.ActionLink("Details", "Details", new { id = item.TermID }) |
                   
                </td>
            </tr>
        }
    }
</table>*@
=======
    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TermName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermDef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMatch)
            </th>
            <th></th>
        </tr>



        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="SetFav">
                    <input class="" type="button" value="Assign"  />
                </div>

            </td>
        </tr>
        }
        }
    </table>*@
>>>>>>> 7ce4d44f9ecff55bd728a71885d3ba9cfb68a14e
